.case_std {
  background-color: black;
  color: white;
  text-align: center;
}

.case_std h2 {
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  font-family: Infra-Regular;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.cstds {
  background-color: black;
  height: auto;
  color: white;
  background-repeat: no-repeat;
  display: inline-block;
  flex-wrap: wrap;
  padding: 20px;
  width: fit-content;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  position: relative;
}

.photos img {
  width: 100%; /* Makes images responsive within the grid */
  height: auto;
  object-fit: cover;
  border-radius: 13px; /* Optional: Rounds corners */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  justify-self: center;
}

.more-studies-btn {
  border: none;
  background-color: transparent;
  color: #ff6407;
  position: absolute;
  right: 0;
  bottom: -2rem;
  border-bottom: 1px solid #ff6407;
}

.study {
  text-align: right;
  padding-left: 50px;
  /* margin-top: 20px; */
}

.study img {
  width: 100px; /* Adjust size as needed */
  height: auto;
  border-radius: 10px;
}

.poster {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
}

.cstds {
  background-color: black;
  height: auto;
  color: white;
  background-repeat: no-repeat;
  display: inline-block;
  flex-wrap: wrap;
  padding: 20px;
  width: fit-content;
}

.Case_Studies_header {
  font-weight: 200px;
  font-size: 50px;
  line-height: 100%;
  display: inline-block;
  align-items: flex-start;
  justify-content: left 0;
}

.caseStudies {
  display: flex;
  display: inline-block;
  gap: 20px;
  flex-wrap: wrap;
  background-color: black;
}

.blueberry {
  width: 500px;
  height: 400px;
  display: inline-block;
  object-fit: cover;
}

.case-study-wrapper {
  justify-content: center;
}

.case-study-item img {
  object-fit: contain;
  width: 100%;
}

aside#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.case-study-modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.case-study-modal h2 {
  margin-top: 0;
}
.case-study-modal h2,
.case-study-modal p {
  color: #333;
  text-align: left;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.modal-close-btn:hover {
  color: #333;
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-content-body {
  display: flex;
  gap: 24px
}
