.engage {
  width: 60%;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}
.engagment_section {
  position: relative;
  overflow: hidden;
}

.commit {
  display: flex;
  align-items: left;
  font-size: 35px;
  font-family: Infra-Bold;
  display: flex;
}

.engage-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engage-figures-item {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.engage-figures-item:not(:last-child) {
  border-right: 1px solid #000000;
}

.ctr,
.percent,
.percentage {
  color: #ff6407;
  font-size: 96px;
}

.engage-caption {
  font-family: Infra-Medium;
}


.imgstrip{
  position: absolute;
  right: -35%;
  width: 65%;
  top: -35%;
  transform: rotate(-24deg);
  height: 150%;
}

.imgstrip img {
  width: 20%; /* Each image takes about 1/3 of space */
  height: auto;
  object-fit: cover;
  will-change: transform; /* Optimize for animation */
  transition: transform 0.1s linear; /* Smooth movement */
}

.img-up {
  transform: translateY(-20px); /* Initial offset */
}

.img-down {
  transform: translateY(20px); /* Initial offset */
}