* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: Infra-Light;
}

@font-face {
  font-family: Infra-Black;
  src: url(../assets/imagesfonts/Infra-Black.otf);
}

@font-face {
  font-family: Infra-Bold;
  src: url(../assets/fonts/Infra-Bold.otf);
}

@font-face {
  font-family: Infra-SemiBold;
  src: url(../assets/fonts/Infra-SemiBold.otf);
}

@font-face {
  font-family: Infra-Medium;
  src: url(../assets/fonts/Infra-Medium.otf);
}

@font-face {
  font-family: Infra-Regular;
  src: url(../assets/fonts/Infra-Regular.otf);
}

@font-face {
  font-family: Infra-Hairline;
  src: url(../assets/fonts/Infra-Hairline.otf);
}

@font-face {
  font-family: Infra-Light;
  src: url(../assets/fonts/Infra-Light.otf);
}
